[submodule "Chroma/third_party/spdlog"]
	path = Chroma/third_party/spdlog
	url = https://github.com/ttalexander2/spdlog
[submodule "Chroma/third_party/GLFW"]
	path = Chroma/third_party/GLFW
	url = https://github.com/ttalexander2/glfw
[submodule "Chroma/third_party/imgui"]
	path = Chroma/third_party/imgui
	url = https://github.com/ttalexander2/imgui
[submodule "Chroma/third_party/glm"]
	path = Chroma/third_party/glm
	url = https://github.com/ttalexander2/glm
[submodule "third_party/--force"]
	path = third_party/--force
	url = https://github.com/ttalexander2/premake-core.git
[submodule "third_party/premake-core"]
	path = third_party/premake-core
	url = https://github.com/ttalexander2/premake-core.git
[submodule "Chroma/third_party/lua"]
	path = Chroma/third_party/lua
	url = https://github.com/ttalexander2/lua.git
[submodule "Chroma/third_party/json"]
	path = Chroma/third_party/json
	url = https://github.com/ttalexander2/json.git
[submodule "Chroma/third_party/yaml-cpp"]
	path = Chroma/third_party/yaml-cpp
	url = https://github.com/ttalexander2/yaml-cpp.git
[submodule "Chroma/third_party/readerwriterqueue"]
	path = Chroma/third_party/readerwriterqueue
	url = https://github.com/ttalexander2/readerwriterqueue.git
[submodule "Chroma/third_party/concurrentqueue"]
	path = Chroma/third_party/concurrentqueue
	url = https://github.com/ttalexander2/concurrentqueue.git
[submodule "Chroma/third_party/ImGuizmo"]
	path = Chroma/third_party/ImGuizmo
	url = https://github.com/ttalexander2/ImGuizmo.git
