# Directories

/bin
/obj
/.vs

Sandbox\imgui.ini

Chroma.Mono/Source/bin
Chroma.Mono/Source/obj

Polychrome/Chroma.Mono.dll
Runtime/Chroma.Mono.dll

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

scripts\__pycache__
Chroma/third_party/VulkanSDK
Polychrome/assets/cache
VSCode-Extension/node_modules
VSCode-Extension/out
VSCode-Extension/.vscode

Chroma/third_party/Glad/bin
Chroma/third_party/Glad/obj

# Files
*.user